.background-image{
  background-image:url('https://img.freepik.com/premium-vector/man-coach-explaining-statistic-businessmen-graph-company-business-modern-vector-flat-illustration_720185-11.jpg?w=740');
 background-size:cover;
 background-position:center;
}